<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notepad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.notepad.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.notepad.SyncActivity"
            android:label="@string/title_activity_sync" >
        </activity>
        <activity
            android:name="com.notepad.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity
            android:name="com.notepad.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.notepad.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name="com.notepad.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>